{% if paginate.pages > 1 %}
  <nav role='navigation' class='flex mt-8 items-center'>
    {% comment %}
      {% if paginate.previous %}
        <a href='{{ paginate.previous.url }}'>{{ paginate.previous.title }}</a>
      {% endif %}
    {% endcomment %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <a
          class='border border-gray-400 text-gray-400 hover:bg-gray-200 text-center py-1 text-xs mx-1 rounded-sm w-[26px]'
          href='{{ part.url }}'
        >
          {{ part.title }}
        </a>
      {% else %}
        <span class='border border-gray-600 text-center w-[26px] py-1 text-xs mx-1 rounded-sm font-bold'>
          {{ part.title }}
        </span>
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <a class='text-xs text-gray-400 ml-2' href='{{ paginate.next.url }}'>{{ paginate.next.title }}</a>
    {% endif %}
  </nav>
{% endif %}
