{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative bg-zinc-100" x-data="{ mobileMenuOpen: false, searchBarOpen: false }">
  <div class="mx-auto px-4 sm:px-6 max-w-7xl container">
    <div class="flex justify-between items-center py-5 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 text-4xl font-yanone truncate">
        <a href='{{ routes.root_url }}'>{{ shop.name }}</a>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button x-on:click='searchBarOpen = true' type='button'
          class='p-2 whitespace-nowrap text-base text-gray-500 hover:text-gray-900'>
          {% render 'icon-search' %}
        </button>
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class="p-2 inline-flex text-gray-500 items-center justify-center focus:outline-none"
        >
          {% render 'icon-hamb-menu' %}
        </button>
      </div>

      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex space-x-10 font-yanone font-medium text-lg tracking-wider">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            {% assign link_handle = link.handle | replace: '-', '_' %}
            <div class="relative" x-data="{ {{ link_handle }}: false }">
              <button
                x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                type="button"
                class="font-yanone font-medium text-lg tracking-wider inline-flex items-center text-gray-500 hover:text-gray-900"
              >
                {{ link.title }}
                <span class='flex w-3'>
                  {% render 'icon-arrow-down' %}
                </span>
              </button>

              <div
                x-cloak
                x-show="{{ link_handle }}"
                @click.away="{{ link_handle }} = false"
                class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
              >
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    {% for childLink in link.links %}
                      <a href="{{ childLink.url  }}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">
                            {{ childLink.title }}
                          </p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="relative">
              <a href="{{ link.url }}" class="text-gray-500 hover:text-gray-900">{{ link.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <button x-on:click='searchBarOpen = true' type='button' class='whitespace-nowrap text-base text-gray-500 hover:text-gray-900' title='Site Search'>
          {% render 'icon-search' %}
        </button>
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden" x-cloak x-show="mobileMenuOpen">
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
      <div class="p-5 divide-y-2 divide-gray-50">
        <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
        <div class="flex items-center justify-between pb-3">
          <div>
            <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
          </div>
          <div class="-mr-2">
            <button x-on:click="mobileMenuOpen = false" type="button" class="bg-white rounded-md p-2 text-gray-500">
              {% render 'icon-close' %}
            </button>
          </div>
        </div>

        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
        <div class="pt-3">
          <nav class="grid gap-y-7 font-yanone font-medium text-lg tracking-wider">
            {% for link in main_menu_linklist %}
              {% assign link_handle = link.handle | replace: '-', '_' %}
              {% if link.links != blank %}
                <div x-data="{ {{ link_handle }}: false }" class="relative">
                  <button
                    x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                    type="button"
                    class="font-yanone font-medium text-lg tracking-wider text-gray-500 hover:text-gray-900 flex items-center justify-between w-full"
                  >
                    <div>{{ link.title }}</div>
                    {% render 'icon-arrow-down' %}
                  </button>

                  <div x-cloak x-show="{{ link_handle }}" class="grid gap-y-7 py-3">
                    {% for childLink in link.links %}
                      <a
                        href="#"
                        class="-m-3 p-3 mt-2 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                      >
                        <span class="ml-3 text-base font-medium text-gray-500">{{ childLink.title }}</span>
                      </a>
                    {% endfor %}
                  </div>
                </div>

              {% else %}
                <a
                  href="#"
                  class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50"
                >
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>

  {% comment %} SEARCH BAR {% endcomment %}
  <div x-cloak x-show='searchBarOpen' x-transition x-trap='searchBarOpen'
    @click.outside='searchBarOpen = false'
    @open-search.window='searchBarOpen = true'
    class='absolute w-full top-full bg-white border-y shadow-lg z-50'
  >
    <div class='max-w-7xl p-5 pr-0 md:p-5 container mx-auto relative'>
      <form action='{{ routes.search_url }}' method='get'>
        <div class='flex items-center justify-center'>
          <div class='w-full max-w-[500px] relative'>
            <input
              type='search'
              name='q'
              placeholder='Type your search'
              id='search'
              class='w-full border py-3 pl-12 pr-4 focus:outline-dotted outline-1 outline-offset-2'
            />
            <button type='submit'
              class='text-gray-500 absolute p-2 left-[1px] top-[1px] bottom-[1px] my-auto border-r rounded-l-lg bg-zinc-100 focus:outline-dotted outline-1'>
              {% render 'icon-search' %}
            </button>
          </div>
          <button x-on:click="searchBarOpen = false" type="button"
            class="bg-white p-2 text-gray-500">
            {% render 'icon-close' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "label": "Title",
        "default": "Menu",
        "info": "Mobile menu title"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
