<div class='max-w-7xl p-5 container mx-auto'>
  {% paginate collection.products by 12 %}

    <h1 class='text-3xl mb-5'>{{ collection.title }}</h1>

    <div class='grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5'>
      {% for product in collection.products %}
        <div class='bg-[#f2f2f2] shadow-lg rounded-b-lg overflow-hidden group flex'>
          <a href="{{ product.url | within: collection }}" class='flex flex-col'>
            <div class='overflow-hidden m-1 aspect-square bg-white flex items-end'>
              {% if product.featured_image %}
                {{ product.featured_image
                  | image_url: width: 400
                  | image_tag:
                    class: 'object-fill transition-transform group-hover:scale-105',
                    alt: product.featured_image.alt | escape
                }}
              {% else %}
                {{ 'product-2' | placeholder_svg_tag: 'w-full h-full object-cover transition-transform group-hover:scale-105' }}
              {% endif %}
            </div>
            <div class='py-4 px-3 md:px-6 flex flex-col flex-1'>
              <h2 class='font-medium text-sm capitalize text-gray-500'>
                {%- assign toRemove = product.vendor | append: ' | ' -%}
                {{ product.title | remove: toRemove | capitalize }}
              </h2>
              <div class='flex justify-between items-baseline mt-auto mb-0'>
                <span class='text-xs'>
                  {% if product.available %}
                     In Stock
                  {% else %}
                    <span class='font-medium text-red-600'>Sold out</span>
                  {% endif %}
                </span>
                <span class='font-medium'>{{ product.price | money }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate %}
    {% endif %}
  {% endpaginate %}
</div>