<div class='max-w-7xl p-5 container mx-auto'>
  <h1 class='text-3xl mb-5'>{{ blog.title }}</h1>
  {% paginate blog.articles by section.settings.number_of_posts %}
    <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
      {% for article in blog.articles %}
        <div class='bg-white shadow-lg rounded-lg overflow-hidden group'>
          <a href='{{ article.url }}'>
            {% if article.image %}
              <div class='overflow-hidden'>
                {{ article.image
                  | image_url: width: 400, height: 300
                  | image_tag:
                      class: 'object-cover w-full transition-transform group-hover:scale-125'
                }}
                </div>
            {% endif %}
            <div class='py-3 px-6'>
              <h2 class='font-medium text-lg'>{{ article.title }}</h2>
              <p>
                {% if article.excerpt != blank %}
                  {{ article.excerpt }}
                {% else %}
                  {{ article.content | strip_html | truncatewords: 15 }}
                {% endif %}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% render 'pagination', paginate: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_posts",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog posts to show per page",
      "default": 3
    }
  ]
}
{% endschema %}