<div class='max-w-7xl p-5 container mx-auto'>
  {% if cart.item_count > 0 %}

    <div class='flex items-end justify-between'>
      <h1 class='text-3xl'>Cart</h1>
      <a href='{{ routes.all_products_collection_url }}' class='px-4 py-2 rounded-lg inline-block text-base font-medium shadow bg-orange-600 text-white hover:bg-orange-700'>
        Continue Shopping
      </a>
    </div>

    <div class='flex flex-col my-10'>
      <form action='{{ routes.cart_url }}' method='post' novalidate>
        <table class='table-auto divide-y divide-gray-200 my-4 w-full'>
          <thead>
            <th class='px-6 py-4 text-left text-sm font-medium text-gray-500'>Product</th>
            <th class='px-6 py-4 text-center text-sm font-medium text-gray-500'>Quantity</th>
            <th class='px-6 py-4 text-right text-sm font-medium text-gray-500'>Total Price</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class='table-row'>
                <td class='py-4 px-2 flex flex-wrap'>
                  <a href="{{ item.url }}">
                    {{ item.image | image_url: width: 100
                      | image_tag:
                        class: 'object-cover border mr-2',
                        alt: item.title | escape
                    }}
                  </a>
                  <div class='py-4 flex flex-col justify-center'>
                    <a href="{{ item.url }}" class='font-medium'>{{ item.product.title }}</a>
                    <span class='text-sm text-gray-500 my-1'>{{ item.variant.title }}</span>
                    <a href="{{ item.url_to_remove }}" class='text-sm text-red-500 font-medium'>remove</a>
                  </div>
                </td>
                <td class='py-4 px-2 text-center'>
                  <input
                    type='number'
                    name='updates[]'
                    value='{{ item.quantity }}'
                    min='1'
                    max='10'
                    class='w-14 border p-2'
                    id='updates_{{ item.key }}'
                  />
                </td>
                <td class='py-4 px-2 text-right font-medium'>
                  {% if item.original_line_price != item.line_price %}
                    {{ item.original_line_price | money }}
                  {% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}
                    {{ discount.title }}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class='flex flex-col md:flex-row items-center justify-between'>
          <div class='w-full my-4'>
            <label for='cart_notes' class='my-1 font-medium'>Cart Notes</label><br/>
            <textarea name='note' id='cart_notes' class='w-full md:max-w-lg border h-20'></textarea>
          </div>
          <div class='w-full my-4 md:w-80 text-right'>
            <h3 class='text-xl'>
              Subtotal: {{ cart.total_price | money }}
            </h3>
            <div class='my-2'>
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'update_button' %}
                    <button
                      type='submit'
                      name='update'
                      class='w-100 px-4 py-2 rounded-lg inline-block text-base font-medium shadow bg-gray-900 text-white hover:bg-gray-700'
                    >
                      Update
                    </button>
                    {% when 'checkout_button' %}
                      <button
                        type='submit'
                        name='checkout'
                        class='w-100 px-4 py-2 rounded-lg inline-block text-base font-medium shadow bg-orange-600 text-white hover:bg-orange-700'
                      >
                        Checkout
                      </button>

                  {% else %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
    </div>

  {% else %}

    <div class='text-center'>
      <h1 class='text-3xl'>Cart</h1>
      <p class='py-8'>You Cart is empty!</p>
      <a href='{{ routes.all_products_collection_url }}' class='px-4 py-2 rounded-lg inline-block text-base font-medium shadow bg-orange-600 text-white hover:bg-orange-700'>
        Go Shopping
      </a>
    </div>

  {% endif %}
</div>

{% schema %}
{
  "name": "Cart Template",
  "blocks": [
    {
      "type": "update_button",
      "name": "Update Button",
      "limit": 1
    },
    {
      "type": "checkout_button",
      "name": "Checkout Button",
      "limit": 1
    }
  ],
  "settings": [

    ]
}
{% endschema %}